.container {
  width: 328px;
  height: 260px;
  position: relative;
}

.box {
  width: 328px;
  height: 260px;
  position: absolute;
  left: -1px;
  top: -1px;
  border-radius: 12px;
  background: #fff;
}

.input-container {
  width: 280px;
  height: 48px;
  position: absolute;
  left: 24px;
  background: #fafafa;
  border-radius: 4px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.input-container:first-of-type {
  top: 40px;
}

.input-container:nth-of-type(2) {
  top: 100px;
}

.input_text {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  z-index: 4;
  font-size: 16px;
  font-weight: 500;
  color: black;
  caret-color: #e8a44b;
  margin-left: 16px;
  border: none;
  background: 0 0;
}

.input-container :focus {
  outline: 1px solid #e8a44b;
}

.button-container {
  width: 280px;
  height: 48px;
  position: absolute;
  left: 24px;
  top: 172px;
}

.login-button {
  width: 280px;
  height: 48px;
  background: #213e57;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.clear-button {
  background: none;
  border: none;
  cursor: pointer;
}
